/* This sheet is a goddamn mess. Please send help w/r/t stylesheet organization.*/
html {
    background-color: black;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 100%
}

header {
    margin: 0 auto;
    font-family: Garamond, serif;
    text-align: center;
    padding: 30px;
    border: 1px solid white;
}

section {
    margin: 10px;
    padding: 30px;
}

h2 {
    font-family: Garamond, serif;
}

.intro {
    color: coral;
    border: 1px solid coral;
}

h2, p {
    margin: 0;
    padding: 10px;
    border: 1px solid white;
}

figure {
    margin: 0;
    padding: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
}

img {
    width: 70%;
    max-width: 70%;
}

#white {
    color: rgb(241, 238, 185);
    border: 1px solid rgb(241, 238, 185);
}

#blue {
    color: rgb(45, 184, 226);
    border: 1px solid rgb(45, 184, 226);
}

#black {
    color: rgb(83, 3, 129);
    border: 1px solid rgb(83, 3, 129);
}

#red {
    color: rgb(233, 64, 64);
    border: 1px solid rgb(233, 64, 64);
}

#green {
    color: rgb(20, 170, 83);
    border: 1px solid rgb(20, 170, 83);
}

footer {
    margin: 10px;
    padding: 30px;
}