/* This sheet is a goddamn mess. Please send help w/r/t stylesheet organization.*/
html {
    background-color: black;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 100%
}

header {
    margin: 0 auto;
    font-family: Garamond, serif;
    text-align: center;
    padding: 30px;
    border: 1px solid white;
}

section {
    margin: 10px;
    padding: 30px;
}

h2 {
    font-family: Garamond, serif;
}

.colors {
    color: coral;
    border: 1px solid coral;
}

h2, p {
    margin: 0;
    padding: 10px;
    border: 1px solid white;
}

figure {
    margin: 0;
    padding: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
}

img {
    width: 70%;
    max-width: 70%;
}

#w {
    color: white
    border: 1px solid white;
}

#u {
    color: blue
    border: 1px solid blue;
}

#b {
    color: black
    border: 1px solid black;
}

#r {
    color: red
    border: 1px solid red;
}

#g {
    color: green
    border: 1px solid green;
}

footer {
    margin: 10px;
    padding: 30px;
}