/* This sheet is a goddamn mess. Please send help w/r/t stylesheet organization.*/

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 100%
}

section {
    margin: 10px;
    padding: 30px;
    border: 1px solid white;
}

section, h2 {
    margin: 0;
    padding: 10px;
    border: 1px solid white;
}

section, p {
    margin: 0;
    padding: 10px;
}

header {
    font-family: Garamond, serif;
    text-align: center;
}

figure {
    margin: 0;
    padding: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
}

h2 {
    font-family: Garamond, serif;
}

img {
    width: 70%;
    max-width: 70%;
}

footer {
    margin: 10px;
    padding: 10px;
}